.middle {
  overflow: hidden;
  position: relative;
  background-image: url("../../assets/beige.avif");
  width: 100%;
}

.hoc{
display: flex;align-items: center;justify-content: center;
}

.ss{
  width: 350px;

  margin:-80px 0 -100px 0;
}
  .rsvp_input::placeholder {
    font-size: 14px;
  }
.jucy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -50px auto;
  width: 90%;
  height: 200px;
}
.jkobss {
  position: absolute;
  inset: 0;
}
.jucy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -150px auto -120px auto;
  width: 90%;
  z-index: 1;
  position: relative;
  height: 350px;
}
.jkob {
  position: absolute;
  right: 0;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* inset: 0; */
}
.jkobs {
  position: absolute;
  bottom: 0;
  transform: rotate(360deg);
  /* left: 0; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* inset: 0; */
}
.kob_img {
  width: 100%;
  height: auto;
  opacity: 40%;
  position: relative;
  object-fit: cover;
  object-position: center center;
  /* animation: gentle-breathe 6s ease-in-out infinite; */
}

.gpo {
  margin-bottom: 30px;
}
.costa {
  padding: 80px 0 0 0;
}
.rba {
  font-size: 40px;
  /* font-weight: bold;  */
  font-weight: 500;
  text-transform: capitalize;
  /* line-height: 100%; */
  font-size: 60px;
  background: linear-gradient(
    to bottom,
    #bf953f 0%,
    #fcf6ba 25%,
    #b38728 50%,
    #fbf5e9 75%,
    #aa771c 100%
  );
  -webkit-background-clip: text;
  font-family: "dancing";
  font-family: "bik";
  /* font-family: 'great'; */

  /* background-clip: text; */
  -webkit-text-fill-color: transparent;
  z-index: 1;
  position: relative;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}
.kuchiys {
  font-family: "raleway";
  text-align: left;
  margin-top: 5px;
  font-size: 11px !important;
}
/* If you still want the ::after for a specific effect (like a border or gradient) */
.b {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 340px;
  background-color: #1a2b44;
  /* padding: 20px; */
  position: relative;
  margin-bottom: 4px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.gom {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.jom {
  width: 100%;
  max-width: 910px;
  margin: 0 auto;
  height: 320px;
  padding: 20px;
  background-color: #8c6239;
  /* padding: 20px; */
  position: relative;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.sum {
  width: 100%;
  padding: 20px;
  max-width: 880px;
  position: absolute;
  margin: 0 auto;
  height: 310px;
  background-color: #92908f;
  background-color: #1a2b44;

  /* padding: 20px; */
  /* position: relative; */
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
/* INNER BORDER EFFECT */
.b::after {
  /* background-image: url("../../assets/traingle.png"); */
  content: "";
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.miss {
  max-width: 1300px;
  /* position: relative; */
  margin: 0 auto;
}
.kami {
  max-width: 700px;
  margin: 0 auto;
}
.middle_grid {
  padding: 80px;
}
.kas {
  display: flex;
  margin: 30px 0;
  gap: 40px;
}
.go {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* gap: 30px; */
}

.middle_card {
  background-image: url("../../assets/blue.JPG");
  background-size: cover;
  background-position: center center;
  padding: 10px;
  z-index: 10;
  position: relative;
  color: #ffff;
  text-align: center;
}

.middle_card::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #1a2b44;
  background-color: #203c65a1;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cio {
  position: relative;
  z-index: 1;
}
.gops {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  z-index: -1;
}

/* Gradient Borders */
.dosh {
  border: 5px solid;
  border-image-source: linear-gradient(
    45deg,
    #8c6239,
    #d4af37,
    #fbf5e9,
    #d4af37,
    #8c6239
  );
  position: relative;
  z-index: 1;
  border-image-slice: 1;
  padding: 5px;
}

.line {
  margin: 20px 0;
}

.depth {
  border: 1px solid;
  border-image-source: linear-gradient(
    45deg,
    #8c6239,
    #d4af37,
    #fbf5e9,
    #d4af37,
    #8c6239
  );
  border-image-slice: 1;
  position: relative;
  z-index: 1;
  padding: 40px;
}

.depths {
  border: 1px solid;
  border-image-source: linear-gradient(
    45deg,
    #8c6239,
    #d4af37,
    #fbf5e9,
    #d4af37,
    #8c6239
  );
  border-image-slice: 1;
  padding: 10px;
}

.middle_couple_name {
  font-family: "Cinzel", serif;
}

.tos {
  font-weight: 400;
  font-size: 150px;
  text-align: center;
  margin: 20px 0;
  font-family: "bik";

  /* The Metallic Gold Gradient */
  background: linear-gradient(
    to bottom,
    #fcf6ba 0%,    /* Light highlight */
    #bf953f 25%,   /* Base gold */
    #fbf5b7 50%,   /* Mid highlight */
    #aa771c 75%,   /* Deep shadow gold */
    #916109 100%   /* Darker edge */
  );
  
  /* Clipping the background to the text */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  /* The 3D Shadow Effect */
  filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.5));
  
  /* Optional: Adds a subtle shine/stroke to help it pop */
  -webkit-text-stroke: 0.5px rgba(109, 59, 13, 0.4);
}

.pal {
  margin-bottom: -40px;
  margin-top: -40px;
}
.rba {
  margin-bottom: -40px;
}
.musra {
  /* margin-bottom: 40px; */
  margin-top: -40px;
}
.year {
  font-weight: 500;
  text-align: center;
  font-size: 100px;
  letter-spacing: 1.3px;
  font-family: "bik";
  margin: 0px 0;
margin-bottom: -20px;
  /* The Metallic Gold Gradient */
  background: linear-gradient(
    to bottom,
    #fcf6ba 0%,    /* Light highlight */
    #bf953f 25%,   /* Base gold */
    #fbf5b7 50%,   /* Mid highlight */
    #aa771c 75%,   /* Deep shadow gold */
    #916109 100%   /* Darker edge */
  );
  
  /* Clipping the background to the text */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  /* The 3D Shadow Effect */
  filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.5));
  
  /* Optional: Adds a subtle shine/stroke to help it pop */
  -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.1);
}

.yearma {
  font-weight: 400;
  font-family: "bik";
  text-align: center;
margin-top: 0px;
  /* The Metallic Gold Gradient */
  background: linear-gradient(
    to bottom,
    #fcf6ba 0%,    /* Light highlight */
    #bf953f 25%,   /* Base gold */
    #fbf5b7 50%,   /* Mid highlight */
    #aa771c 75%,   /* Deep shadow gold */
    #916109 100%   /* Darker edge */
  );
  
  /* Clipping the background to the text */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
font-size: 60px;
letter-spacing: 1.3px;
  /* The 3D Shadow Effect */
  filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.5));
  
  /* Optional: Adds a subtle shine/stroke to help it pop */
  -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.1);
}

.star_img {
  width: 100%;
  height: auto;
  margin: -150px 0;
}

.tf_img {
  width: 420px;
  object-fit: contain;
  margin-top: -70px;
  margin-bottom: -70px;
}

.img_card {
  background-image: url("../../assets/blue.JPG");
  width: 100%;
  background-size: cover;
  background-position: center center;
  /* margin-bottom: 30px; */
  padding: 10px;
  position: relative;
}

.img_card::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(4, 4, 72, 0.467);
  background-color: #203c65a1;

  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inside_img {
  height: 50vh;
  width: 100%;
  object-fit: cover;
  object-position: center 40%;
  position: relative;
  z-index: 1;
}

/* RSVP Form */
.rsvp_area {
  padding: 0 80px 80px 80px;
  max-width: 900px;
  margin: 0px auto;
}

.rsvp_formy {
  display: grid;
  margin-top: 50px;
  padding: 0 50px;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  /* row-gap: 30px; */
}

.rsvp_sub:nth-child(1) {
  grid-column: 1/3;
}

.rsvp_sub:nth-child(5) {
  grid-column: 1/5;
}

.rsvp_sub:nth-child(7) {
  grid-column: 3/5;
}
.rsvp_sub:nth-child(2) {
  grid-column: 3/5;
}

.rsvp_sub:nth-child(6) {
  grid-column: 1/3;
}
.rsvp_sub:nth-child(8) {
  grid-column: 1/2;
}
.rsvp_sub:nth-child(9) {
  grid-column: 2/5;
}

.rsvp_sub:nth-child(10) {
  grid-column: 1/5;
}
.rsvp_sub:nth-child(3),
.rsvp_sub:nth-child(4) {
  grid-column: 1/5;
}
.rsvp_input_area {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.rsvp_label {
  text-align: left;
  margin-bottom: 10px;
  font-family: "Cinzel", serif;
}

.rsvp_input {
  border: 2px solid;
  border-image-source: linear-gradient(
    45deg,
    #8c6239,
    #d4af37,
    #fbf5e9,
    #d4af37,
    #8c6239
  );
  width: 100%;
  border-image-slice: 1;
  outline: none;
  background-color: #fbf5e9;
  padding: 10px;
}

.rsvp_sm_title,
.rsvp_p {
  font-weight: 700;
  text-align: center;
  margin: 20px 0;

  /* The Metallic Gold Gradient */
  background: linear-gradient(
    to bottom,
    #fcf6ba 0%,    /* Light highlight */
    #bf953f 25%,   /* Base gold */
    #fbf5b7 50%,   /* Mid highlight */
    #aa771c 75%,   /* Deep shadow gold */
    #916109 100%   /* Darker edge */
  );
  
  /* Clipping the background to the text */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  /* The 3D Shadow Effect */
  filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.5));
  
  /* Optional: Adds a subtle shine/stroke to help it pop */
  -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.1);
  font-family: "great", serif;
}

.rsvp_p {
  font-family: "raleway";
  font-family: "bik", serif;
font-weight: 400;
margin-top: 0px;
  text-transform: capitalize;
  font-size: 34px;
  letter-spacing: 1.3px;
}
.rsvp_sm_title {
  font-size: 45px;
  margin-bottom: -20px;
  letter-spacing: 1.3px;
  font-family: "bik";
  font-weight: 400;
  text-transform: capitalize;
}
.rsvp_title {
  /* font-weight: bold; */
  text-transform: capitalize;
  font-size: 65px;
  background: linear-gradient(
    to bottom,
    #bf953f 0%,
    #fcf6ba 25%,
    #b38728 50%,
    #fbf5e9 75%,
    #aa771c 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 20px auto 0px auto;
  width: 100%;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
  font-family: "Playfair Display", serif;
  font-family: "bik";
  font-weight: bolder;
  font-weight: 400;
  margin-bottom: 0px;
  line-height:120%;
  /* font-family: "raleway", serif; */
}
.paka{
  margin-top: -10px;
}
/* Submit Button Luxury Gold */
.submit_btn {
  padding: 18px 35px;
  border-radius: 0px;
  border: none;
  cursor: pointer;
  margin-top: 40px;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bold;
  color: #1a1a1a;

  background: linear-gradient(
    45deg,
    #8c6239,
    #d4af37,
    #fbf5e9,
    #d4af37,
    #8c6239
  );
  background-size: 200% 200%;

  box-shadow:
    0 15px 40px rgba(212, 175, 55, 0.35),
    inset 0 1px 0 rgba(255, 255, 255, 0.4);

  transition: all 0.5s ease;
}
.homba{
  font-size: 18px;
  font-weight: 600;
  font-family: "raleway";
}
.submit_btn:hover {
  background-position: right center;
  transform: translateY(-4px);
  box-shadow:
    0 25px 60px rgba(212, 175, 55, 0.45),
    0 0 40px rgba(212, 175, 55, 0.3);
}

/* ------------------ RESPONSIVE MEDIA QUERIES ------------------ */

/* Large Laptops 1200px – 1399px */
@media (max-width: 1399px) {
  .middle_grid {
    padding: 60px;
    gap: 60px;
  }

  .tos {
    font-size: 132px;
  }

  .year {
    font-size: 82px;
  }

  .yearma {
    font-size: 24px;
  }
  .pal{
    margin-top: 10px;
    margin-bottom: -10px;
  }
  .musra{
    margin-top: 10px;
  }
}

/* Laptop / Small Desktop 1200px */
@media (max-width: 1200px) {
  .middle_grid {
    padding: 80px;
    /* display: grid; */
    /* grid-template-columns: 1fr ; */
    gap: 100px;
  }

  .go {
    order: 2;
  }

  .middle_sub:last-child {
    order: 1;
  }

  .inside_img {
    height: 55vh;
  }

  .rsvp_area {
    padding: 0px 10px 40px 10px;
  }

  .gpo {
    margin-bottom: 10px;
  }
}

/* Tablet Landscape 1024px */
@media (max-width: 1024px) {
  .middle_grid {
    padding: 50px 30px;
    gap: 20px;
  }
  .depth {
    padding: 30px;
  }
  .rsvp_formy {
    gap: 20px;
  }
  .submit_btn {
    width: 100%;
  }
}

/* Tablet Portrait 768px */
@media (max-width: 768px) {
  .middle_grid {
    padding: 40px 20px;
  }
  .b {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    margin-top: 30px;
    /* padding: 20px; */
    height: 200px;
    background-color: #1a1a1ace;
    background-color: #1a2b44;
    margin-bottom: 1px;
    /* background-image: url("../../assets/blue.JPG"); */
    position: relative;
    background-size: cover;
    background-position: center center;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  .tos {
    font-size: 126px;
  }
  .kxx {
    display: none !important;
  }

  .jucy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -150px auto -120px auto;
    width: 90%;
    height: 350px;
  }
  .ppp {
    margin-bottom: -10px;
  }

  .jff {
    height: 500px;
    width: 90%;
    object-fit: cover;
  }
  .rba {
    font-size: 55px;
    margin-bottom: -30px;
  }
  .year {
    font-size: 76px;
  }
  .yearma {
    font-size: 20px;
  }
  .inside_img {
    height: 55vh;
  }

  .luxury_card {
    width: 100%;
  }

  .kol {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tf_img {
    width: 350px;
    margin-top: -80px;
    margin-bottom: -50px;
  }

  .musra {
    margin-bottom: 0px;
  }


  .rsvp_area{
    /* margin-top: -50px; */
    padding: 10px 
    ; 
    width: 98%;
  }
  .iu{
    padding: 10px;
  }
  .rsvp_formy {
    gap: 10px;
    padding: 0px;
    /* display: flex; */
    /* flex-direction: column; */
  }
  .rsvp_sub:nth-child(1) {
    grid-column: 1/5;
  }
  .rsvp_sub:nth-child(2) {
    grid-column: 1/5;
  }

  .rsvp_sub:nth-child(6) {
    grid-column: 1/5;
  }
  .rsvp_sub:nth-child(7) {
    grid-column: 1/3;
  }


  .musra {
    margin-bottom: 0px;
  }
  .rsvp_sub:nth-child(10) {
    grid-column: 1/5;
  }
  .rsvp_sub:nth-child(3),
  .rsvp_sub:nth-child(4),
  .rsvp_sub:nth-child(5) {
    grid-column: 1/5;
  }

  .rsvp_sub:nth-child(8) {
  grid-column: 3/5;
}
.rsvp_sub:nth-child(9) {
  grid-column: 1/5;
}
.submit_btn{
  margin-top: 10px;
}
}

/* Mobile Large 600px */
@media (max-width: 600px) {
  .middle_card {
    padding: 5px;
  }
  .rsvp_label {
    font-size: 14px;
  }
  .depth {
    padding: 20px;
  }

  .tos {
    font-size: 100px;
  }

  .year {
    font-size: 32px;
  }
  .go {
    gap: 10px;
  }
  .yearma {
    font-size: 38px;
  }

  .rsvp_title {
    width: 100%;
    font-size:38px;
  }
  .inside_img {
    height: 40vh;
  }



   .tf_img {
    width: 300px;
    margin-top: -20px;
    margin-bottom: -50px;
  }
  .kas {
    /* margin: 200px 0; */
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  .ii {
    display: flex;
    flex-direction: column;
    /* display: none; */
  }
  .middle_sub {
    margin-top: 20px;
    /* margin-bottom: -20px; */
  }
  .submit_btn {
    padding: 15px 30px;
    font-size: 12px;
    letter-spacing: 2px;
  }
}

/* Small Phones 480px */
@media (max-width: 580px) {
  .middle_grid {
    padding: 30px 15px;
  }
  .costa {
    padding: 0;
  }
  .rsvp_input::placeholder {
    font-size: 10px;
  }
  .tos {
    font-size: 80px;
  }



  .rba{
    font-size: 30px;
  }
  .pal,
  .musra,
  .rba {
    margin-bottom: -19px;
  }

  .pal{
    margin-top: -20px!important;
  }
  .musra {
    margin-top: 0;
  }
  .malka {
    margin: -10px 0;
  }
  .year {
    font-size: 40px;
    font-weight: 400;

    font-family: "bik";
    line-height: 80%;
    margin-bottom: 15px;
  }


  .yearma {
    font-size: 35px;
    /* margin-top: -30px; */
    margin-bottom: 0px;
  }
  .star_img {
    width: 80%;
    
    margin: -20px auto!important;
  }
  .bush{
    margin: -40px 0!important;
  }
  .inside_img {
    height: 40vh;
  }

  .rsvp_title {
    font-size: 44px!important;
    line-height: 140%;
    margin-bottom: 0px;
  }
  .rsvp_sm_title {
    font-size: 24px;
    margin-bottom: -10px;
  }
 .tf_img {
    width: 200px;
    margin-top: -60px;
    margin-bottom: -40px;
  }
  .musra{
    margin-bottom: -40px;
  }
  .rsvp_p {
    margin-top: 14px;
    font-size: 18px !important;
  }

  .rsvp_label {
    margin-bottom: 2px;
    font-size: 12px;
  }
  .rsvp_input {
    padding: 8px;
    font-size: 16px;
  }

  .submit_btn {
    padding: 14px 20px;
    font-size: 11px;
  }
  .jkob {
    position: absolute;
    top: -100px;
    left: -100px;
  }
  .jkobs {
    position: absolute;
    bottom: -100px;
    left: -100px;
  }

  .css-5pwa6a-control{
    padding: 0!important;
  }
  .jkobss {
    position: absolute;
    inset: 0;
  }
  .kob_img {
    object-fit: contain;
    opacity: 75%;
    height: 100%;
  }

  .middle {
    padding: 15px;
  }


  .rsvp_title{
    /* display: none!important; */
  }
}


@media  (max-width:480px){

  .rsvp_sm_title{
    font-size: 35px;
    margin-top: 0px;
  }

  .rsvp_p{
    margin-top: 0px;
    line-height: 80%;
    font-size: 28px!important;
  }
  .rsvp_title{
    line-height: 120%;
    font-size: 42px!important;
    margin-bottom: 0px;
  }
}@media  (max-width:400px){

  .rsvp_sm_title{
    font-size: 30px;
    margin-top: 0px;
  }

  .rsvp_p{
    margin-top: 0px;
    line-height: 80%;
    font-size: 28px!important;
  }
  .rsvp_title{
    line-height: 140%;
    font-size: 30px!important;
    margin-bottom: 0px;
  }
}